<a href="https://colab.research.google.com/github/harshitsingh09/BDCC_lab/blob/main/BDCC_labPrograms.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Installing libraries

In [13]:
!pip install pyspark
!pip install spark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Requirement already satisfied: spark in /usr/local/lib/python3.10/dist-packages (0.2.1)

In [15]:
from pyspark import SparkContext
from pyspark.sql import SparkSession
sc = SparkContext()

ValueError: Cannot run multiple SparkContexts at once; existing SparkContext(app=pyspark-shell, master=local[*]) created by __init__ at <ipython-input-2-c5080ed045f5>:1

# Experiment 8

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, sum, avg, max

In [10]:
spark = SparkSession.builder\
  .appName("Sparky.com")\
    .getOrCreate()

In [11]:
data = Data = [("James","Sales","NY",90000,34,10000),
("Michael","Sales","NV",86000,56,20000),
("Robert","Sales","CA",81000,30,23000),
("Maria","Finance","CA",90000,24,23000),
("Raman","Finance","DE",99000,40,24000),
("Scott","Finance","NY",83000,36,19000),
("Jen","Finance","NY",79000,53,15000),
("Jeff","Marketing","NV",80000,25,18000),
("Kumar","Marketing","NJ",91000,50,21000)
]

In [12]:
schema = ["Emp_name", "dept", "state", "salary", "age", "bonus"]

In [16]:
df = spark.createDataFrame(data = data, schema = schema)
#df.printSchema()
df.show()

+--------+---------+-----+------+---+-----+
|Emp_name|     dept|state|salary|age|bonus|
+--------+---------+-----+------+---+-----+
|   James|    Sales|   NY| 90000| 34|10000|
| Michael|    Sales|   NV| 86000| 56|20000|
|  Robert|    Sales|   CA| 81000| 30|23000|
|   Maria|  Finance|   CA| 90000| 24|23000|
|   Raman|  Finance|   DE| 99000| 40|24000|
|   Scott|  Finance|   NY| 83000| 36|19000|
|     Jen|  Finance|   NY| 79000| 53|15000|
|    Jeff|Marketing|   NV| 80000| 25|18000|
|   Kumar|Marketing|   NJ| 91000| 50|21000|
+--------+---------+-----+------+---+-----+

In [18]:
df.groupBy("state").sum("salary").show()

+-----+-----------+
|state|sum(salary)|
+-----+-----------+
|   NV|     166000|
|   CA|     171000|
|   NY|     252000|
|   NJ|      91000|
|   DE|      99000|
+-----+-----------+

In [20]:
df.groupBy("state").sum("salary").orderBy("sum(salary)", ascending = False).show()

+-----+-----------+
|state|sum(salary)|
+-----+-----------+
|   NY|     252000|
|   CA|     171000|
|   NV|     166000|
|   DE|      99000|
|   NJ|      91000|
+-----+-----------+

In [21]:
df.groupBy("state").sum("salary").filter("sum(salary) > 100000").show()

+-----+-----------+
|state|sum(salary)|
+-----+-----------+
|   NV|     166000|
|   CA|     171000|
|   NY|     252000|
+-----+-----------+

# Experiment 3

In [3]:
from pyspark import SparkContext

In [4]:
sc = SparkContext()

In [5]:
rdd = sc.parallelize(["scala", "java", "hadoop", "spark", "akka",
"spark vs hadoop", "pyspark", "pyspark and spark"])

In [8]:
total = rdd.count()
print(total)

8

In [11]:
wordds = rdd.filter(lambda x: "spark" in x)
collect = wordds.collect()
print(collect)

['spark', 'spark vs hadoop', 'pyspark', 'pyspark and spark']

# Experiment 4

In [3]:
rdd1 = sc.parallelize([("spark", 1),("hadoop", 2)])
rdd2 = sc.parallelize([("spark", 3),("hadoop", 4)])
print(rdd2.collect())

[('spark', 3), ('hadoop', 4)]

In [4]:
rdd= sorted(rdd1.join(rdd2).collect())
print(rdd)

[('hadoop', (2, 4)), ('spark', (1, 3))]

# Experiment 5

In [7]:
rdd = sc.parallelize([{1,2,3,},{4,5,6},{7,8,9}])

In [8]:
acc = sc.accumulator(0)

In [9]:
def add(x):
  global acc
  acc += sum(x)

In [10]:
rdd.foreach(add)

In [11]:
print(acc.value)

45

# Experiment 6

In [17]:
spark = SparkSession.builder.appName("RDDDD").getOrCreate()

In [18]:
rdd = spark.read.format("csv").option("header", "true").load("/book.csv").rdd

AnalysisException: [PATH_NOT_FOUND] Path does not exist: file:/book.csv.

#Experiment 7

In [19]:
spark = SparkSession.builder.appName("Textting").getOrCreate()

In [20]:
txxt = spark.read.text("txxt.txt")

In [21]:
words = txxt.rdd.flatMap(lambda line: line.value.split(" "))

In [22]:
wordCount = words.count()
print(wordCount)

8